.header__lang-link:hover {
  transition: all 1s ease;
  opacity: .5;
}

.place__website-link:hover {
  transition: all 1s ease;
  opacity: .5;
}

.footer__link:hover {
  transition: all 1s ease;
  opacity: .5;
}
