.place__website-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
}

.place__website-link:hover {
  transition: all 1s ease;
  opacity: .8;
}
